.image-slide-best {
    width: 102px;
    height: 102px;
    overflow: hidden;
}

.image-slide-new {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.recomment-size {
    width: 196px;
    height: 196px;
    overflow: hidden;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
    -webkit-overflow-scrolling: touch;
}